@font-face {
	font-family:'marr-sans';
	src:url('fonts/marr-sans/MarrSansCondWeb-Medium.woff2') format('woff2'),
		url('fonts/marr-sans/MarrSansCondWeb-Medium.woff') format('woff');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'nhg';
	src:url('fonts/nhg/NeueHaasGrotDisp-75Bold-Web.woff2') format('woff2'),
		url('fonts/nhg/NeueHaasGrotDisp-75Bold-Web.woff') format('woff');
	font-weight:500;
	font-style:normal;
}
